version: '3.8'

services:
  hp-tuning:
    image: mlops2_hp-tuning:dev
    build: .
    volumes:
      - ./checkpoints:/app/checkpoints
      - ./logs:/app/logs
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    
    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    environment:
    - PYTHONUNBUFFERED=1